body{
    color: #FDFDFF;
    border: 1px solid #444F5A;
    display: flex;
    flex-direction:column;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

header,footer{
    background-color: #604D53;
    border: 1px solid black;
    font-style: italic;
    box-sizing: border-box;
}

nav,blockquote{
    background-color: #DB7F8E;
    border: 1px solid black;
    box-sizing: border-box;
    width: 100%;
}

aside{
    background-color: #FFDBDA;
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    
}

article{
    background-color: #D5C5C8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

article>#licznik{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between ;
    height: 300px;
}

article>#licznik>#liczby{
    font-weight: bolder;
    font-size:xx-large;
}

article>#licznik>#plus{
    background-color: green; 
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 100px;
    height: 100px;
    font-style: italic;
    font-weight: bold;
    border-radius: 50%;
}

article>#licznik>#minus{
    background-color: red; 
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 100px;
    height: 100px;
    font-style: italic;
    font-weight: bold;
    border-radius: 50%;
}

article>#licznik>#plus:hover{
    background-color: #014201;
    transition: 0.2s;
}

article>#licznik>#minus:hover{
    background-color: #6e0303;
    transition: 0.2s;
}

article>#licznik>#reset:hover{
    background-color: #444F5A;
    transition: 0.2s;
}

article>#licznik>#plus:active{
    background-color: #444F5A;
}

article>#licznik>#minus:active{
    background-color: #444F5A;
}

article>#licznik>#reset:active{
    background-color: black;
    color: white;
}

form{
    display: flex;
    justify-content:center;
    align-items: center;
}

ul{
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items:first baseline;
}

#has1{
    margin-right: 50px;
    zoom: 200%;
    margin-left: 100px;
    background-color: #DB7F8E;
    border:black 1px solid;
}

#has2{
    margin-right: 50px;
    zoom: 200%;
    background-color: #DB7F8E;
    border:black 1px solid;
}


article>#licznik>#reset{
    background-color: white; 
    border: none;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 0px;
    width: 100px;
    height: 80px;
    font-style: italic;
    font-weight: bold;
    border-radius: 10%;
    margin: 10px;
}

p{
    color: black;
    text-align:justify;
    padding: 10px;
}

 h2{
    text-align: left;
    margin: 0;
    padding-left: 2vh;  
    padding-top: 1vh;
    color: black;
 }

#lewo{
   width: 100%;
   display: flex;
   flex-direction: column;
 
}

#prawo{
    width: 40%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

}

main{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    

}

.jeden{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 300%;
    border: 2px solid #DB7F8E ;
    color: black;
    text-align: center;
    border-radius:15px;
    box-sizing: border-box;
}

.dwa{
    border: 2px solid #DB7F8E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 300%;
    color: black;
    text-align: center;
    border-radius:15px;
    box-sizing: border-box;
}


aside{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    
}

#klocki{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#grupa1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#grupa2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.jeden{
    margin: 10px;
    width: 100px;
    height: 300px;
}

.dwa{
   margin: 10px;
   width: 100px;
   height: 150px;
}

#grupa1{
    display: flex;
    flex-direction: column;
}

#grupa2{
    display: flex;
    flex-direction: column-reverse;

}

blockquote{
    margin: 0;
    height: 10vh;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tedwa{
    border-left: 1px solid white;  
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 150px;
}

a{
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: white;
}

#tenjeden{
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center; 
}

a:hover{
    color: black;
    background-color: #D5C5C8;
    font-size: 25px;
    transition: 0.3s;
}

header{
    text-align: right;
    padding-right: 50px;
    height: 100px;
}


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;

}

blockquote::after{ 
    content: '"~ ziomek co se wszedl';
}

blockquote::before{
    content: '„';
}


.jeden:hover,.dwa:hover{
    background-color: #DB7F8E;
    color: white;
    transition: 0.3s;
    
}